<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		<div class="printer">
			<a class="icon" href="javascript:window.print();"><i class="fi-print"></i></a>
		</div>

		<div class="container">

			<div class="page-wrapper">

				<header role="banner">

					<div class="name">
						<h1>Jared Cobb</h1>
						<h2>Software Engineering</h2>
					</div>

					<div class="profile">

						<div class="items">
							<div>
								<a class="icon" href="https://www.jaredcobb.com" target="_blank"><i class="fi-web"></i><h5>jaredcobb.com</h5></a>
								<span class="print">http://www.jaredcobb.com</span>
							</div>
							<div>
								<a class="icon" href="tel:720-331-0245"><i class="fi-telephone"></i><h5>(720) 331-0245</h5></a>
								<span class="print">(720) 331-0245</span>
							</div>
						</div>
						<div class="items">
							<div>
								<a class="icon" href="https://github.com/jaredcobb" target="_blank"><i class="fi-social-github"></i><h5>GitHub</h5></a>
								<span class="print">https://github.com/jaredcobb</span>
							</div>
							<div>
								<a class="icon" href="https://stackoverflow.com/story/jaredcobb" target="_blank"><i class="fi-social-stack-overflow"></i><h5>StackOverflow</h5></a>
								<span class="print">https://stackoverflow.com/story/jaredcobb</span>
							</div>
						</div>
						<div class="items">
							<div>
								<a class="icon" href="https://www.linkedin.com/in/jaredcobb" target="_blank"><i class="fi-social-linkedin"></i><h5>LinkedIn</h5></a>
								<span class="print">https://www.linkedin.com/in/jaredcobb</span>
							</div>
							<div>
								<a class="icon" href="https://www.twitter.com/jaredcobb" target="_blank"><i class="fi-social-twitter"></i><h5>Twitter</h5></a>
								<span class="print">https://www.twitter.com/jaredcobb</span>
							</div>
						</div>

					</div>

					<div class="summary">
						<p>Over <strong><%= htmlWebpackPlugin.options.years %></strong> years of professional experience building software on the web.</p>
					</div>

				</header>

				<hr>

				<main role="main">

					<article class="results">

						<h3>Results</h3>

						<p>
						As a Director Of Engineering, I provide technical guidance, strategic leadership, and professional development to a team of over 20 distributed Engineers.
            I provide training on best practices in engineering & scrum, leading to 100% sprint commitments met, on-time delivery, and team happiness.
						</p>

						<p>
						As a Principal Developer, I’ve led the successful launch of several high-profile media sites, including <a href="http://www.denverpost.com" target="_blank">DenverPost.com,</a> <a href="http://www.mercurynews.com" target="_blank">MercuryNews.com</a>, and <a href="http://www.eastbaytimes.com" target="_blank">EastBayTimes.com</a>.
						I was directly responsible for re-platforming to <strong>WordPress (VIP Go)</strong>, feature development, and technical architecture.
						</p>

						<p>
						I have extensive experience building tools for the publishing &amp; non-profit industries. My most rewarding projects have been those where I <strong>collaborate directly</strong> with the people who will use and benefit from these tools.
						</p>

					</article>

					<hr>

					<article class="tech-open-source">

						<h3>Skills &amp; Abilities</h3>

						<div class="tech">
							<div>

								<h4>Web Technologies</h4>

								<ul>
									<li>JavaScript</li>
									<li>React</li>
									<li>React Native</li>
									<li>Sass/CSS3</li>
									<li>Node.js</li>
									<li>PHP 5/7</li>
									<li>REST/JSON</li>
									<li>SQL</li>
								</ul>
							</div>

							<div>
								<h4>Software Engineering</h4>

								<ul>
									<li>Scrum</li>
									<li>MVC/OOP</li>
									<li>Kanban</li>
									<li>Functional</li>
								</ul>
							</div>

							<div>
								<h4>Other</h4>

								<ul>
									<li>WordPress</li>
									<li>Laravel</li>
									<li>MySQL</li>
									<li>Vim</li>
									<li>Git</li>
									<li>Travis CI</li>
									<li>Webpack</li>
									<li>ESLint</li>
								</ul>
							</div>

						</div>

						<hr>

						<h3>Open Source</h3>

						<div class="open-source">
							<div>
								<h4>CCB Core API</h4>
								<p class="title"><a target="_blank" href="https://www.wpccb.com/">https://www.wpccb.com</a></p>
								<p>A WordPress plugin that synchronizes your data. Integrates with the Church Community Builder platform.</p>
								<span class="print">https://www.wpccb.com</span>
							</div>

							<div>
								<h4>WordPress Logger</h4>
								<p class="title"><a target="_blank" href="https://github.com/alleyinteractive/logger">Hosted On GitHub</a></p>
								<p>A WordPress log handler with custom post types.</p>
								<span class="print">https://github.com/alleyinteractive/logger</span>
							</div>
						</div>
					</article>

					<article class="experience">

						<div class="experience-header">
							<div class="title">
								<h3>Experience</h3>
							</div>
							<div class="ledgend">
								<p><span class="fulltime">Full Time</span><span class="freelance">Freelance</span></p>
							</div>
						</div>

						<div class="timeline">

							<div class="fulltime-wrapper">
								<h4 class="fulltime">Praxent</h4>
								<p class="title">Director Of Engineering <span class="date">(2019 - Current)</span></p>
								<ul>
									<li>Lead U.S. and Global teams of Engineers and QA Analysts in career growth, technical development, assessments, mentoring, and recruitment.</li>
									<li>Accountable for departmental budgets, staffing, and project allocations.</li>
									<li>Responsible for on-time delivery, performance management, and team happiness.</li>
									<li>Guide new project estimations and technical architecture.</li>
									<li>Build high-performing teams using exceptionally effective hiring practices.</li>
								</ul>
							</div>

							<div class="freelance-wrapper">
								<h4 class="freelance">Vineyard Church North Phoenix</h4>
								<p class="title"><a href="https://vineyardnorthphoenix.com/" target="_blank">https://vineyardnorthphoenix.com/</a> <span class="date">(2020)</span></p>
								<ul>
									<li>
										WordPress / API
									</li>
									<li>
										Developed a WordPress plugin to synchronize church management data into a custom theme.
									</li>
								</ul>
							</div>

							<div class="fulltime-wrapper">
								<h4 class="fulltime">Alley Interactive</h4>
								<p class="title">Principal Software Developer <span class="date">(2015 - 2019)</span></p>
								<ul>
									<li>
										Technical &amp; Team leadership role with four direct reports
									</li>
									<li>
										PHP 7, JavaScript (ES6), Sass, WordPress
									</li>
									<li>
										WordPress VIP compliant themes and plugins
									</li>
									<li>
										API integrations with various services and platforms
									</li>
								</ul>
							</div>

							<div class="freelance-wrapper">
								<h4 class="freelance">R&amp;R Partners</h4>
								<p class="title"><a href="https://rrpartners.com/" target="_blank">https://rrpartners.com/</a> <span class="date">(2019)</span></p>
								<ul>
									<li>
										WordPress / Data Migration / API
									</li>
									<li>
										Migrated content from a legacy CMS
									</li>
									<li>
										Created a custom plugin to manage corporate events from within WordPress
									</li>
								</ul>
							</div>

							<div class="fulltime-wrapper">
								<h4 class="fulltime">Church Community Builder</h4>
								<p class="title">Lead Developer <span class="date">(2013 - 2015)</span></p>
								<ul>
									<li>
										Technical &amp; Team leadership role with three direct reports
									</li>
									<li>
										Provided architectural guidance, training, and technical leadership
									</li>
									<li>
										Developed several internal web applications including CRM and finance tools
									</li>
								</ul>
							</div>

							<div class="fulltime-wrapper no-print">
								<h4 class="fulltime">Church Community Builder</h4>
								<p class="title">Senior Web Developer <span class="date">(2010-2013)</span></p>
								<ul>
									<li>
										Technical leadership role
									</li>
									<li>
										PHP 5, JavaScript, jQuery, CSS
									</li>
									<li>
										Scaled a SaaS church management web application to 2,900 churches and 525,000 unique logins per week
									</li>
								</ul>
							</div>

							<div class="fulltime-wrapper no-print">
								<h4 class="fulltime">Compassion International</h4>
								<p class="title">Web Developer <span class="date">(2008-2010)</span></p>
								<ul>
									<li>
										Team member role
									</li>
									<li>
										ASP.NET, JavaScript, jQuery, HTML, CSS
									</li>
									<li>
										Rebuilt Compassion.com on a custom CMS platform
									</li>
								</ul>
							</div>

						</div>

						<hr>

					</article>

				</main>

			</div>

			<div class="source">
				<p><a href="https://bitbucket.org/jaredcobb/jared-cobb-resume" target="_blank">View Source</a></p>
			</div>

		</div>

        <script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-54375392-1', 'auto');
		ga('send', 'pageview');
        </script>
    </body>
</html>
