// Experience module.
article.experience {

	order: 1;

	@include xy-cell( 100% );

	@include breakpoint( large ) {
		order: 2;
		@include xy-cell( 5 of 8 );
	}

	.experience-header {

		@include xy-grid;

		.title {

			@include xy-cell( 100% );
			margin-left: 0;

			@include breakpoint( medium ) {
				@include xy-cell( 1 of 5 );
				margin-left: 0;
			}

		}

		.ledgend {

			@include xy-cell( 100% );
			margin-left: 0;

			p span {
				display: block;
				margin-bottom: rem-calc( 10 );
			}

			@include breakpoint( 520px ) {

				@include xy-cell( 4 of 5 );
				margin-left: 0;

				p {
					margin-top: rem-calc( 3px );
					text-align: right;
					span {
						display: inline;
						margin: 0;
					}
				}

			}

		}

	}

	.fulltime:before, .freelance:before {
		content: ' ';
		display: inline-block;
		height: 26px;
		top: 7px;
		width: 26px;
	}

	.fulltime:before {
		background-color: white;
		background-image: url("../images/circle_blue.svg");
		background-size: contain;
	}

	.freelance:before {
		background-color: #21c8ff;
		border-radius: 50%;
	}

	span.fulltime:before, span.freelance:before {
		margin-left: 12px;
		margin-right: 6px;
		position: relative;
	}

	h4.fulltime, h4.freelance {
		margin-left: -24px;
	}

	h4.fulltime:before, h4.freelance:before {
		display: inline-block;
		left: -10px;
		position: relative;
		top: 8px;
	}

	.timeline {
		border-left: 2px #21c8ff solid;
		padding-left: 20px;

		p.title {
			font-style: italic;
		}
	}

	hr {
		margin-top: 2.5rem;
		@include hide-for( large );
	}

}
