// Header styles.
header {

	@include xy-grid;

	.name {

		margin-bottom: rem-calc( 20 );
		text-align: center;

		@include breakpoint( small ) {
			@include xy-cell( 100% );
		}
		@include breakpoint( large ) {
			@include xy-cell( 3 of 8 );
		}
		@include breakpoint( large ) {
			text-align: inherit;
		}

		h1, h2 {
			line-height: 1;
			white-space: nowrap;
		}

	}

	.profile {

		white-space: nowrap;

		@include breakpoint( small ) {
			@include xy-cell( 100% );
		}
		@include breakpoint( large ) {
			@include xy-cell( 5 of 8 );
		}

		.items {

			@include xy-grid;

			margin-bottom: rem-calc( 5 );

			div {

				@include xy-cell( 50% );

				@include breakpoint( small ) {
					margin-right: 1.5rem;
					margin-left: .75rem;
				}
				@include breakpoint( medium ) {
					margin-right: 1.25rem;
					margin-left: 1.25rem;
				}

				h5 {
					display:inline-block;
				}

				i {
					@include show-for( medium );
				}

				a.icon {

					color: white;

					&:hover {
						color: #dcf1ff;
					}

					& > h5 {
						color: $body-font-color;
					}
				}

			}

		}

	}

	.summary {

		@include xy-cell( 100% );

		margin-top: rem-calc( 12 );

		p {

			text-align: center;

			@include breakpoint( medium ) {
				font-size: rem-calc( 20 );
			}
		}
	}

}
