// Custom layout changes and general design.
body {

	.container {

		@include xy-grid-container;

		.page-wrapper {
			background: #fff;
			margin: 30px 0;
			padding: 20px;
			border-radius: 2px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 25px rgba(0, 0, 0, 0.04);
		}

		.page-wrapper:before, .page-wrapper:after {
			width: 40%;
			height: 10px;
			content: ' ';
			left: 18px;
			bottom: 48px;
			background: transparent;
			transform: skew(-5deg) rotate(-5deg);
			box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
			z-index: -1;
		}

		.page-wrapper:after {
			left: auto;
			right: 18px;
			transform: skew(5deg) rotate(5deg);
		}

		main {

			@include xy-grid;

			hr {
				width: 100%;
			}

		}

	}

	.printer {

		@include show-for( medium );

		position: fixed;
		right: 30px;
		top: 40px;

		@include breakpoint( large ) {
			top: 35px;
		}

		@include breakpoint( xlarge ) {
			top: 30px;
		}

		a {
			color: #fff;

			&:hover {
				color: #dcf1ff;
			}

		}

	}

	.source {
		margin-bottom: rem-calc( 30px );
		text-align: center;

		p {
			background: #fff;
			border-radius: 5px;
			display: inline;
			padding: 10px;
		}
	}

}
