@media print {

	@import "print_reset";
	@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i');

	body {

		.print {
			display: inherit;
		}

		.printer, .source, .no-print {
			display: none;
		}

		p, span, h1, h2, h3, h4, h5, h6, ul, li {
			font-family: 'EB Garamond', serif;
		}

		p {
			margin-bottom: .5rem;
			line-height: 1.6;
		}

		h1 {
			font-size: rem-calc( 29px );
		}

		h2 {
			font-size: rem-calc( 14px );
		}

		h3 {
			font-size: rem-calc( 20px );
		}

		h4 {
			font-size: rem-calc( 16px );
		}

		hr {
			display: none;
		}

		.container {

			padding-right: 1rem;
			padding-left: 1rem;

			.page-wrapper {

				margin: 0;
				padding: 1rem 0;

				header {

					.name {
						@include xy-cell( 1 of 4 );
					}

					.profile {

						@include xy-cell( 3 of 4 );

						.items {
							margin-bottom: 0;
							a {
								display: none;
							}
						}

					}

					.summary {

						margin-top: rem-calc( 12px );

						p {
							font-size: inherit;
						}

					}

				}

				main {

					.results {
						margin-bottom: 1rem;
					}

					.tech-open-source {

						@include xy-cell( 3 of 9 );

						.tech > div, .open-source > div {
							margin: 0;
						}

						.open-source {
							a, p {
								display:none;
							}
							div {
								margin-bottom: rem-calc( 16px );
							}
						}

					}

					.experience {

						@include xy-cell( 6 of 9 );

						.timeline {

							border-left: none;
							padding: 0;

							h4 {
								display: inline;
								margin-left: 0;
							}

							p {
								display: inline;
								float: right;
							}

							.fulltime:before {
								display:none;
							}

							.freelance-wrapper {
								display: none;
							}

						}

						.ledgend {
							display: none;
						}

					}

				}

			}

		}

	}
}
