// Technologies and Open Source sidebar.
article.tech-open-source {

	order: 2;

	@include xy-cell( 100% );

	@include breakpoint( large ) {
		order: 1;
		@include xy-cell( 3 of 8 );
	}

	.tech {

		@include xy-grid;

		& > div {

			@include xy-cell( 100% );

			h3, h4 {
				white-space:nowrap;
			}

			ul {
				column-count: 2;
				list-style: none;
				margin-left: 0;
			}

		}

	}

	.open-source {

		@include xy-grid;

		& > div {
			@include xy-cell( 100% );
		}

	}
}
