// TYPOGRAPHY & FONTS

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400,400i');

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

h4 {
	text-decoration: underline;
}

.print {
	display: none;
}

a {
	transition: color 0.5s ease, background-color 0.5s ease;
}
